<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default}">
<head>
<title>MongoDB</title>
</head>
<body>
	<div id="page" layout:fragment="content">

		<div class="container">
			<div style="text-align: center">
				<h4>
					<b>List of Photos</b>
				</h4>
			</div>

			<hr />
			<div class="row">
				<div class="col-xs-6">
					<a href="/">Go back to Home</a>
				</div>
				<div class="col-xs-6">
					<div class="col-xs-6">
						<a href="/photo/upload" class="btn btn-sm btn-danger btn-space">Upload
							new Photo</a>
					</div>
				</div>
			</div>
			<br />
			<table class="table table-bordered table-hover" id="myTable">
				<thead>
					<tr>
						<td>Photo-ID</td>
						<td>Photo Title</td>
						<td>Photo date</td>
						<td>Photographer</td>
						<td>Photo Location</td>
						<td>Action</td>
					</tr>
				</thead>
				<tbody>
					<tr th:if="${photos.size()} eq 0">
						<td colspan="3">No photos/images To Display</td>
					</tr>
					<tr th:each="photo : ${photos}">
						<td th:text="${photo.id}" /></td>
						<td th:text="${photo.title}" /></td>
						<td th:text="${photo.photodate}" /></td>
						<td th:text="${photo.photographer}" /></td>
						<td th:text="${photo.photolocation}" /></td>
						<td><a th:href="'photo/'+${photo.id}"
							class="btn btn-sm btn-success btn-space">View</a></td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>
</body>
</html>